* {
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 600px;
}
.hero {
  position: relative;
}
.tab-bar {
  position: absolute;
  display: flex;
  left: 10px;
  top: 550px;
  gap: 10px;
}
.tab-bar a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  background: #fff;

  padding: 10px 10px;
  transition: all 0.3s ease;
}
.tab-bar a.active {
  box-shadow: inset 0 -4px 0 #ba5b29;
}
.tab-bar a:hover {
  color: #ba5b29;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.Row button {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
}
.Row button.active {
  background: #ba5b29;
}
.branch-info {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.branch-info > div:first-child {
  flex: 2;
}
.branch-info iframe {
  aspect-ratio: 16/9;
  border: 0;
}
.branch-info > div:last-child {
  line-height: 2;
  flex: 1;
}

.branch-menu {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
  overflow-x: auto;
  /* 橫向捲軸*/
  scrollbar-width: thin;
  scrollbar-color: #483b20 #161614;
}
.menu-img {
  width: 420px;
  max-height: 500px;
  flex-shrink: 0; /*不准被壓縮 */
  object-fit: cover; /* 裁切而非拉伸*/

  @media screen and (max-width: 768px) {
    width: 360px;
  }
}
.reserve {
  z-index: 100;
  position: fixed;
  background-color: #161411;
  border-top: 1px solid #483b20;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 20px;
}
.reserveBtn {
  background-color: #ba5b29;
  cursor: pointer;
  border-radius: 6px;
  color: #fff;
  border: 0;
  width: 100%;
  padding: 12px 12px;
  transition: all 0.3s ease;
}
.reserveBtn:disabled {
  background-color: #483b20;
  cursor: not-allowed;
}
.reserveBtn:hover:enabled {
  filter: brightness(1.1); /* 變亮 10% */
}
footer {
  padding-bottom: 120px;
  text-align: center;
}
.ant-divider-inner-text {
  /*預約文字*/
  color: #fff;
  font-size: 24px;
}
